
#set($actionUrl = $link.setAction("/admin/editClient"))
#set($namelessCnt = 0)

<h5 class="center">$text.get("admin.clients")</h5>

<div class="table-responsive">
<table class="listTable table-bordered mt-auto mb-0 mx-auto" style="border-bottom-style: hidden;">
  <tr>
    <th class="left" colspan="3"><a href="$actionUrl?read=true">$text.get("addNew")</a></th>
  </tr>
</table>
<table class="sortable listTable table-bordered mt-auto mb-2 mx-auto">
  <tr>
    <th class="border-bottom">$text.get("client.name")</th>
    <th class="border-bottom">$text.get("client.description")</th>
    <th class="border-bottom sorttable_nosort">$text.get("action")</th>
  </tr>
  #foreach($client in $clientList)
    #if($velocityCount % 2 == 1 && ($name == "" && $nameJA == ""))
      $namelessCnt = 1
    #elseif($velocityCount % 2 == 0 && $namelessCnt == 1)
      #set($tdc = "")
      #set($tdc_text = " style=${esc.q}white-space: pre !important;${esc.q}")
      #set($tdca = " class=${esc.q}actions${esc.q}")
    #elseif($velocityCount % 2 == 1 && $namelessCnt == 0)
      #set($tdc = "")
      #set($tdc_text = " style=${esc.q}white-space: pre !important;${esc.q}")
      #set($tdca = " class=${esc.q}actions${esc.q}")
    #else
      #set($tdc = " class=${esc.q}list${esc.q}")
      #set($tdc_text = " class=${esc.q}list${esc.q} style=${esc.q}white-space: pre !important;${esc.q}")
      #set($tdca = " class=${esc.q}list actions${esc.q}")
    #end
    #set($name = "$!esc.html($!client.name)")
    #set($nameJA = "$!esc.html($!client.nameJA)")
    <tr>
      #if((($lang.locale == "ja" || $lang.locale == "ja_JP") && ($name != "" && $nameJA != "")) || (($lang.locale == "ja" || $lang.locale == "ja_JP") && ($name == "" && $nameJA != "")))
        <td$tdc>$nameJA</td>
        <td$tdc_text>$!esc.html($!client.descriptionJA)</td>
      #elseif(($name != "" && $nameJA != "") || ($name == "" && $nameJA != ""))
        <td$tdc>$name</td>
        <td$tdc_text>$!esc.html($!client.description)</td>
      #end
      #if(($name != "" && $nameJA != "") || ($name == "" && $nameJA != ""))
        <td$tdca>
          <a href="$actionUrl?read=true&amp;id=$client.id">$text.get("update")</a>
          #if($client.canDelete)
            | <a href="$actionUrl?delete=true&amp;id=$client.id"
            #if($lang.locale == "ja" || $lang.locale == "ja_JP") onclick="return confirm('$text.get("confirm.delete", [ $nameJA ])')"
            #else onclick="return confirm('$text.get("confirm.delete", [ $name ])')"#end>
              $text.get("delete")
            </a>
          #end
        </td>
      #end
    </tr>
  #end
</table>
</div>
